.paneflow-unchanged-vonni-421 {
  --pf-padding: 2cqw;
  --pf-gap: 2cqw;
  --pf-transition-duration: 1000ms;
  --pf-border-radius: 0cqw;
  --pf-pagination-item-active-color: rgba(80, 80, 80, 1);
  --pf-navigation-item-color: rgba(80, 80, 80, 1);
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  font-synthesis-weight: none;
  font-synthesis-style: none;
}
.paneflow-unchanged-vonni-421 .paneflow-bg-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.paneflow-unchanged-vonni-421 .paneflow-bg-image img {
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
}
.paneflow-unchanged-vonni-421 .paneflow-text {
  position: absolute;
  left: 0;
  top: 0;
}
.paneflow-unchanged-vonni-421 .paneflow-text-container {
  white-space: nowrap;
}
.paneflow-unchanged-vonni-421 .paneflow-image {
  position: absolute;
  left: 0;
  top: 0;
}
.paneflow-unchanged-vonni-421 .paneflow-image img {
  width: 100%;
  height: 100%;
  max-width: none;
}

.paneflow-item-3Mk7IA img {
  object-fit: cover;
  object-position: center;
}

.paneflow-item-aI1Pur .paneflow-text-container {
  font-size: 3.4cqw;
  text-align: left;
  color: rgba(65, 50, 83, 1);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  line-height: 1;
  padding: 0cqw 0cqw;
  border-radius: 0;
  backdrop-filter: blur(4px);
}

.paneflow-item-52eDUv .paneflow-text-container {
  font-size: 1.7cqw;
  text-align: left;
  color: rgba(65, 50, 83, 1);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  line-height: 1.1;
  padding: 0cqw 0cqw;
  border-radius: 0;
}

.paneflow-item-2UkykL img {
  object-fit: cover;
  object-position: center;
}

.paneflow-item-kduald .paneflow-text-container {
  font-size: 5cqw;
  text-align: left;
  color: rgba(65, 50, 83, 1);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  line-height: 1;
  padding: 0cqw 0cqw;
  border-radius: 0;
}

.paneflow-item-Ykdums .paneflow-text-container {
  font-size: 3.6cqw;
  text-align: left;
  color: rgba(65, 50, 83, 1);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  line-height: 1;
  padding: 0cqw 0cqw;
  border-radius: 0;
}

.paneflow-item-HSKOhH img {
  object-fit: cover;
  object-position: center;
}

.paneflow-item-QWpJMe .paneflow-text-container {
  font-size: 5cqw;
  text-align: left;
  color: rgba(65, 50, 83, 1);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  line-height: 1;
  padding: 0cqw 0cqw;
  border-radius: 0;
}

.paneflow-item-jciWTI .paneflow-text-container {
  font-size: 5cqw;
  text-align: left;
  color: rgba(65, 50, 83, 1);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  line-height: 1;
  padding: 0cqw 0cqw;
  border-radius: 0;
}

.paneflow-block-xvmHDf {
  --pf-cols: 3;
  --pf-rows: 2;
  --pf-col: 0;
  --pf-row: 1;
  --pf-width-cols: 1;
  --pf-height-rows: 1;
}
.paneflow-item-A36PhO img {
  object-fit: cover;
  object-position: center;
}
.paneflow-item-A36PhO {
  transform: translate3d(0px, 0px, 0) scale(1) rotate(0deg);
  transform-origin: center;
  opacity: 1;
}
.paneflow-item-m0prHo .paneflow-text-container {
  font-size: 5cqw;
  text-align: left;
  color: rgba(65, 50, 83, 1);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  line-height: 1;
  padding: 0cqw 0cqw;
  border-radius: 0;
}
.paneflow-item-m0prHo {
  transform: translate3d(46.9cqw, -177.3cqw, 0) scale(1) rotate(0deg);
  transform-origin: center;
  opacity: 1;
}
.paneflow-item-Uu7iK8 .paneflow-text-container {
  font-size: 5cqw;
  text-align: left;
  color: rgba(65, 50, 83, 1);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  line-height: 1;
  padding: 0cqw 0cqw;
  border-radius: 0;
}
.paneflow-item-Uu7iK8 {
  transform: translate3d(268.1cqw, 18.6cqw, 0) scale(1) rotate(0deg);
  transform-origin: center;
  opacity: 1;
}
.paneflow-item-eRhVjj .paneflow-text-container {
  font-size: 5cqw;
  text-align: left;
  color: rgba(65, 50, 83, 1);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  line-height: 1;
  padding: 0cqw 0cqw;
  border-radius: 0;
}
.paneflow-item-eRhVjj {
  transform: translate3d(210.8cqw, 135.8cqw, 0) scale(0.51) rotate(0deg);
  transform-origin: center;
  opacity: 1;
}
.paneflow-block-Ak5Jts {
  --pf-cols: 3;
  --pf-rows: 2;
  --pf-col: 1;
  --pf-row: 1;
  --pf-width-cols: 1;
  --pf-height-rows: 1;
}
.paneflow-item-nyG95x img {
  object-fit: cover;
  object-position: center;
}
.paneflow-item-nyG95x {
  transform: translate3d(0px, 0px, 0) scale(1) rotate(0deg);
  transform-origin: center;
  opacity: 1;
}
.paneflow-block-v12cRX {
  --pf-cols: 3;
  --pf-rows: 2;
  --pf-col: 2;
  --pf-row: 1;
  --pf-width-cols: 1;
  --pf-height-rows: 1;
}
.paneflow-item-eVgPrm img {
  object-fit: cover;
  object-position: center;
}
.paneflow-item-eVgPrm {
  transform: translate3d(0px, 0px, 0) scale(1) rotate(0deg);
  transform-origin: center;
  opacity: 1;
}
.paneflow-block-bYSRTd {
  background-color: rgba(80, 80, 80, 1);
  --pf-cols: 3;
  --pf-rows: 2;
  --pf-col: 0;
  --pf-row: 0;
  --pf-width-cols: 1;
  --pf-height-rows: 1;
}
.paneflow-item-9I1TMs img {
  object-fit: cover;
  object-position: center;
  padding: 0cqw 0cqw;
  border-radius: 0cqw;
}
.paneflow-item-9I1TMs {
  width: 10cqw;
  height: 10cqw;
  transform: translate3d(10.4cqw, 6.8cqw, 0) scale(3.06) rotate(0deg);
  transform-origin: center;
  opacity: 1;
}
.paneflow-block-swKOSH {
  background-color: rgba(80, 80, 80, 1);
  --pf-cols: 3;
  --pf-rows: 2;
  --pf-col: 1;
  --pf-row: 0;
  --pf-width-cols: 1;
  --pf-height-rows: 1;
}
.paneflow-item-doyDx6 img {
  object-fit: cover;
  object-position: center;
  padding: 0cqw 0cqw;
  border-radius: 0cqw;
}
.paneflow-item-doyDx6 {
  width: 10cqw;
  height: 10cqw;
  transform: translate3d(10.1cqw, 3.9cqw, 0) scale(3.45) rotate(0deg);
  transform-origin: center;
  opacity: 1;
}
.paneflow-block-lLDAa3 {
  background-color: rgba(80, 80, 80, 1);
  --pf-cols: 3;
  --pf-rows: 2;
  --pf-col: 2;
  --pf-row: 0;
  --pf-width-cols: 1;
  --pf-height-rows: 1;
}
.paneflow-item-omiiw6 img {
  object-fit: cover;
  object-position: center;
  padding: 0cqw 0cqw;
  border-radius: 0cqw;
}
.paneflow-item-omiiw6 {
  width: 10cqw;
  height: 10cqw;
  transform: translate3d(9.7cqw, 4.1cqw, 0) scale(3.23) rotate(0deg);
  transform-origin: center;
  opacity: 1;
}
.paneflow-block-cecCQP,
.paneflow-block-zhpyj4,
.paneflow-block-Fcxpiu,
.paneflow-block-xvmHDf,
.paneflow-block-Ak5Jts,
.paneflow-block-v12cRX,
.paneflow-block-bYSRTd,
.paneflow-block-swKOSH,
.paneflow-block-lLDAa3 {
  transform: translateX(100cqw);
}
