.paneflow-unlikely-ratts-tyerel-177 {
  --pf-padding: 2cqw;
  --pf-gap: 2cqw;
  --pf-transition-duration: 1000ms;
  --pf-border-radius: 0cqw;
  --pf-pagination-item-active-color: rgba(255, 255, 255, 1);
  --pf-navigation-item-color: rgba(255, 255, 255, 1);
  width: auto;
  height: 100%;
  aspect-ratio: 9/16;
  font-synthesis-weight: none;
  font-synthesis-style: none;
}
.paneflow-unlikely-ratts-tyerel-177 .paneflow-bg-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.paneflow-unlikely-ratts-tyerel-177 .paneflow-bg-image img {
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
}
.paneflow-unlikely-ratts-tyerel-177 .paneflow-text {
  position: absolute;
  left: 0;
  top: 0;
}
.paneflow-unlikely-ratts-tyerel-177 .paneflow-text-container {
  white-space: nowrap;
}
.paneflow-block-cecCQP {
  --pf-cols: 3;
  --pf-rows: 2;
  --pf-col: 0;
  --pf-row: 0;
  --pf-width-cols: 1;
  --pf-height-rows: 1;
}
.paneflow-item-3Mk7IA img {
  object-fit: cover;
  object-position: center;
}
.paneflow-item-3Mk7IA {
  transform: translate3d(0px, 0px, 0) scale(1) rotate(0deg);
  transform-origin: center;
  opacity: 1;
}
.paneflow-item-mFFbWz .paneflow-text-container {
  font-size: 5cqw;
  text-align: left;
  color: rgba(65, 50, 83, 1);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  line-height: 1;
  padding: 3.2cqw 3cqw;
  border-radius: 3cqw;
}
.paneflow-item-mFFbWz {
  transform: translate3d(-0.8cqw, -21cqw, 0) scale(1) rotate(0deg);
  transform-origin: center;
  opacity: 1;
}
.paneflow-item-VxgdSP .paneflow-text-container {
  font-size: 5cqw;
  text-align: left;
  color: rgba(65, 50, 83, 1);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  line-height: 1;
  padding: 2.2cqw 2.2cqw;
  border-radius: 2cqw;
}
.paneflow-item-VxgdSP {
  transform: translate3d(0.2cqw, -6.7cqw, 0) scale(1) rotate(0deg);
  transform-origin: center;
  opacity: 1;
}
.paneflow-block-zhpyj4 {
  --pf-cols: 3;
  --pf-rows: 2;
  --pf-col: 1;
  --pf-row: 0;
  --pf-width-cols: 1;
  --pf-height-rows: 1;
}
.paneflow-item-2UkykL img {
  object-fit: cover;
  object-position: center;
}
.paneflow-item-2UkykL {
  transform: translate3d(0px, 0px, 0) scale(1) rotate(0deg);
  transform-origin: center;
  opacity: 1;
}
.paneflow-item-q85vfo .paneflow-text-container {
  font-size: 10cqw;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  line-height: 1;
  padding: 3.1cqw 3.1cqw;
  border-radius: 3cqw;
  backdrop-filter: blur(5px);
}
.paneflow-item-q85vfo {
  transform: translate3d(-9.1cqw, -19cqw, 0) scale(1) rotate(0deg);
  transform-origin: center;
  opacity: 0;
}
.paneflow-item-Sh2rd4 .paneflow-text-container {
  font-size: 5cqw;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  line-height: 1;
  padding: 3.1cqw 3.1cqw;
  border-radius: 3cqw;
  backdrop-filter: blur(5px);
}
.paneflow-item-Sh2rd4 {
  transform: translate3d(-8cqw, -21.7cqw, 0) scale(1) rotate(0deg);
  transform-origin: center;
  opacity: 1;
}
.paneflow-block-Fcxpiu {
  --pf-cols: 3;
  --pf-rows: 2;
  --pf-col: 2;
  --pf-row: 0;
  --pf-width-cols: 1;
  --pf-height-rows: 1;
}
.paneflow-item-HSKOhH img {
  object-fit: cover;
  object-position: center;
}
.paneflow-item-HSKOhH {
  transform: translate3d(0px, 0px, 0) scale(1) rotate(0deg);
  transform-origin: center;
  opacity: 1;
}
.paneflow-item-xLKo6r .paneflow-text-container {
  font-size: 10cqw;
  text-align: left;
  color: rgba(65, 50, 83, 1);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  line-height: 1;
  padding: 3.1cqw 3.1cqw;
  border-radius: 3cqw;
  backdrop-filter: blur(5px);
}
.paneflow-item-xLKo6r {
  transform: translate3d(0px, 0px, 0) scale(1) rotate(0deg);
  transform-origin: center;
  opacity: 0;
}
.paneflow-item-bbwN20 .paneflow-text-container {
  font-size: 5cqw;
  text-align: left;
  color: rgba(65, 50, 83, 1);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  line-height: 1;
  padding: 3cqw 3cqw;
  border-radius: 3cqw;
  backdrop-filter: blur(5px);
}
.paneflow-item-bbwN20 {
  transform: translate3d(-14.6cqw, -19.8cqw, 0) scale(1) rotate(0deg);
  transform-origin: center;
  opacity: 1;
}
.paneflow-block-xvmHDf {
  --pf-cols: 3;
  --pf-rows: 2;
  --pf-col: 0;
  --pf-row: 1;
  --pf-width-cols: 1;
  --pf-height-rows: 1;
}
.paneflow-item-A36PhO img {
  object-fit: cover;
  object-position: center;
}
.paneflow-item-A36PhO {
  transform: translate3d(0px, 0px, 0) scale(1) rotate(0deg);
  transform-origin: center;
  opacity: 1;
}
.paneflow-item-uFoVzK .paneflow-text-container {
  font-size: 5cqw;
  text-align: left;
  color: rgba(65, 50, 83, 1);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  line-height: 1;
  padding: 3.1cqw 3.1cqw;
  border-radius: 3cqw;
  backdrop-filter: blur(1px);
}
.paneflow-item-uFoVzK {
  transform: translate3d(-25.8cqw, -38.3cqw, 0) scale(1) rotate(0deg);
  transform-origin: center;
  opacity: 1;
}
.paneflow-item-D9WF08 .paneflow-text-container {
  font-size: 5cqw;
  text-align: left;
  color: rgba(65, 50, 83, 1);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  line-height: 1;
  padding: 3cqw 3cqw;
  border-radius: 3cqw;
  backdrop-filter: blur(1px);
}
.paneflow-item-D9WF08 {
  transform: translate3d(-10.1cqw, -47.1cqw, 0) scale(1) rotate(0deg);
  transform-origin: center;
  opacity: 1;
}
.paneflow-block-Ak5Jts {
  --pf-cols: 3;
  --pf-rows: 2;
  --pf-col: 1;
  --pf-row: 1;
  --pf-width-cols: 1;
  --pf-height-rows: 1;
}
.paneflow-item-nyG95x img {
  object-fit: cover;
  object-position: center;
}
.paneflow-item-nyG95x {
  transform: translate3d(0px, 0px, 0) scale(1) rotate(0deg);
  transform-origin: center;
  opacity: 1;
}
.paneflow-item-mfo1tD .paneflow-text-container {
  font-size: 10cqw;
  text-align: left;
  color: rgba(65, 50, 83, 1);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  line-height: 1;
  padding: 0cqw 0cqw;
  border-radius: 0;
}
.paneflow-item-mfo1tD {
  transform: translate3d(0cqw, 0cqw, 0) scale(1) rotate(0deg);
  transform-origin: center;
  opacity: 0;
}
.paneflow-block-v12cRX {
  --pf-cols: 3;
  --pf-rows: 2;
  --pf-col: 2;
  --pf-row: 1;
  --pf-width-cols: 1;
  --pf-height-rows: 1;
}
.paneflow-item-eVgPrm img {
  object-fit: cover;
  object-position: center;
}
.paneflow-item-eVgPrm {
  transform: translate3d(0px, 0px, 0) scale(1) rotate(0deg);
  transform-origin: center;
  opacity: 1;
}
.paneflow-item-fr5OwG .paneflow-text-container {
  font-size: 10cqw;
  text-align: left;
  color: rgba(65, 50, 83, 1);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  line-height: 1;
  padding: 0cqw 0cqw;
  border-radius: 0;
}
.paneflow-item-fr5OwG {
  transform: translate3d(0px, 0px, 0) scale(1) rotate(0deg);
  transform-origin: center;
  opacity: 0;
}
.paneflow-block-cecCQP,
.paneflow-block-zhpyj4,
.paneflow-block-Fcxpiu,
.paneflow-block-xvmHDf,
.paneflow-block-Ak5Jts,
.paneflow-block-v12cRX {
  transform: translateX(100cqw);
}
